.backImage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  transition: 1s ease transform;
  // transform: translateY(-687px);
  // transform: translateY(-1374px);
  // transform: translateY(-2061px);
  // transform: translateY(-2748px);

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
    position: absolute; /* videoyu pozisyonu ayarlayın */
    top: 0;
    left: 0;
    z-index: 0; /* videoyu arka plana alın */
  }

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative; /* contentin pozisyonu ayarlayın */
    z-index: 0; /* contentin önüne gelecek şekilde ayarlayın */
  }

  .white-content {
    color: white;
  }

  .itemtext {
    margin-top: 80px;
    text-align: center;
    // color: white;
    h1 {
      font-size: 40px;
      font-weight: 900;
      margin-bottom: 0;
    }
    p {
      font-size: 20px;
      margin: 10px 0px 10px 0;
      font-weight: 900;
    }
    .smallText {
      font-size: 12px;
    }
  }

  .button__group {
    display: flex;
  }

  .description {
    transition: 0.2s ease-in all;
    cursor: pointer;
  }

  .leftbutton,
  .rightbutton {
    background-color: white;
    height: 40px;
    width: 264px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-transform: capitalize;
    cursor: pointer;
    margin: 8px;
    font-weight: 600;
    font-size: 13.5px;
    transition: 0.4s ease all;
    &:hover {
      background: #dedcdc;
    }
  }

  .specialButton {
    background-color: rgb(10, 11, 13) !important;
    color: #7b7c7d !important;
    text-transform: uppercase;
    opacity: 0.85 !important;
    border-radius: 0 !important;
    &:hover {
      background-color: #292b2f !important;
    }
  }

  .specialButtonBorder {
    border-top: 3px solid #7b7c7d;
  }

  .specialButtonBorderFull {
    border: 1px solid #7b7c7d;
  }

  .rightbutton {
    background-color: rgb(23, 26, 32);
    opacity: 0.9;
    color: white;
    margin-left: 18px;
    font-weight: bold;
    transition: 0.5s ease all;

    &:hover {
      background-color: #393c41;
    }
  }

  .bottomPart {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 640px;
    margin-bottom: 20px;

    .button__description {
      font-size: 13px;
      text-align: center;
      margin: 0;
      font-weight: 600;

      .button__description_detail {
        margin-top: -6px;
        border-bottom: 1px solid black;
        width: 200px;
        margin: 0 auto;
        padding: 0 0 2px 0;
        font-size: 14px;

        &:hover {
          border-bottom: 2px solid black;
          cursor: pointer;
        }
      }
    }
  }
  .footer {
    display: flex;
    color: #d8d8d8;
    gap: 18px;
    font-size: 12px;
    font-weight: 900;
    margin: 25px;
    cursor: pointer;
  }
}
